
dt {
  font-weight: bold;
  font-variant: small-caps;
/*  color: #800000 ;   margin-right: 10px;*/
}

.navbar {
  margin-top: 8px;
  margin-bottom: 30px;
}

.navbar-default {
 background-color: #428bca;
 border-color: #357ebd;
}

.active > a {
background-color:#357EBD;
}



/* ---------------------------- horní lišta */

  #tel span {
    -webkit-transition: all 0s;  /* Saf3.2+, Chrome */
    -moz-transition: all 0s;  /* FF4+ */
    -ms-transition: all 0s;  /* IE10 */
    -o-transition: all 0s;  /* Opera 10.5+ */
    transition: all 0s;
    background-color: inherit;
    color: inherit;
  }

  #tel span:hover,
  #tel span:focus,
  #tel span:active {
    color: #fff ;
  }



