body {
  color: #4A5A5A; 
  padding-bottom: 5px;
  font-size: 16px;
}
footer {  
font-size: 14px}
#box {
  box-shadow:rgba(0, 0, 0, 0.2) 0 0 10px;
  border-radius: 4px 4px 0px 0px;
  margin-top: 10px;
}

/*.container {
 }*/

#sidlo {
  margin-left: auto;
  margin-right: auto;
}

.container-padding h1, .container-padding h2, .container-padding p, .container-padding form{
 padding-left:20px;
 padding-right:20px;
 }

.container-padding form{
 padding-left:40px;
 padding-right:20px;
 }

dt {
  font-weight: bold;
  font-variant: small-caps;
/*  color: #800000 ;   margin-right: 10px;*/
}
#sidlo .dl-horizontal dt {
  width: 80px;
  }
#sidlo .dl-horizontal dd {
  margin-left: 100px;
  }
.opacity .navbar {
  opacity:1;
  }
 .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

/* ---------------------------- navbar */
.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #ffffff;
  border-color: #000043
}

.navbar .navbar-brand {
  font-size: 20px;
  color: #ffffff;
}
.navbar-default, .navbar-default > li > a {
 background-color: #000066;
}

.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-header > .navbar-brand > a,
.navbar .navbar-header > .navbar-brand > a:hover,
.navbar .navbar-header > .navbar-brand > a:focus {
 background-color:#428BCA;
 }

.navbar-inverse .navbar-nav > li > a:hover {
 background-color:#357EBD;
 color: #fff;
 }

.navbar-inverse .navbar-nav > li > a{
 color: #fff;
 }

/* ---------------------------- carousel */
.carousel {
    margin-bottom: 0px;
    margin-top: -2px;
    height: 350px;
}
.carousel-inner > .item > img {
    height: 350px;
  }
.carousel .item {
    background-color: #777777;
    height: 350px;
  }

/* ---------------------------- jumbotron */
.jumbotron {
    padding-bottom: 8px;
    padding-top: 90px;
}

.container .jumbotron {
    border-radius: 0px 0px 0px 0px;
    background-image:url('../img/menu.png');
    background-color:#FFFFFF;
    text-align: right;
    height: 107px;
    margin-top: -2px;
    margin-bottom: 0px;
  }
  
/* ---------------------------- horní lišta -- vpravo */
  .navbar-right:last_child > li > a {
  padding-right:15px;
}
  
    .navbar-right > li > a {
  padding-right:5px;
  padding-left:5px;
  }

  .navbar-text {
    margin-left: 0px;
    margin-right: 0px;
  }

/*  #tel span {
    -webkit-transition: all 0s;  /* Saf3.2+, Chrome */
   /* -moz-transition: all 0s;  /* FF4+ */
    /*-ms-transition: all 0s;  /* IE10 */
  /*  -o-transition: all 0s;  /* Opera 10.5+ */
   /* transition: all 0s;
   /* background-color: inherit;
    color: #999999;;
  }

  #tel span:hover,
  #tel span:focus,
  #tel span:active {
    background-color:#357EBD;
    border-color:  #000;
    margin:0px ;
  }*/


/* ---------------------------- footer */
  footer a {
    text-align: left;
  }
  #mapa {
    height:200px; 
    width:600px;
  }

